{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ファイル共有サイト</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'share/css/style.css' %}">

    {% block extra_head %}
    {% endblock %}
</head>
<body>

    <div class="header_area">
        <div class="header_content_left"><a class="header_title" href="{% url 'share:index' %}">ファイル共有サイト</a></div>
        <div class="header_content_right">
            <a class="header_link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            <a class="header_link" href="{% url 'password_change' %}"><i class="fas fa-key"></i></a>
        </div>
    </div>

    <!--ログアウトのリンク設置する。-->


    <main class="container">
    {% block main %}
    {% endblock %}
    </main>

</body>
</html>